@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
:root {
  --pink: #ff4081;
  --background: #232e33;
}
body {
    display: flex;
}
.container {
    position: relative;
    padding: 4vw;
    top: 78px;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw 15vw 10vw 52vw;
    grid-template-rows: 15vw auto 20vw;
    grid-template-areas: "photo qualite name name"
                        "info info slider experience"
                        "competence competence slider experience";
}
.items{
    background-color: #797979;
    border-radius: 30px;
    margin: .7vw;
}
.photo {
    grid-area: photo;
    background: url("../figs/linkedin.jpg");
    background-size: cover;
}
.name {
    grid-area: name;
    color: white;
    font-weight: bold;
    font-size: 6em;
    line-height: 15vw;
    text-align: center;
}
.info {
    grid-area: info;
}
.competence {
    grid-area: competence;
    color: white;
    padding: 16px;
    line-height: 2.3em;
}
.slider {
    grid-area: slider;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 13% 29% 29% 29%;
    font-size: 1.5em;
    text-align: right;
    padding-right: .5em;
    color: white;
    font-weight: bold;
}
.experience{
    grid-area: experience;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 13% auto 29% 29%;
    font-size: 1.5em;
    color: white;
}
.experiences {
    text-align: left;
    padding-left: 1em;
}
.experiences li {
    font-size: 16px;
}
p {
    padding: 1em;
    color: white;
}
.phone_number, .mail, .adress, .birthday  {
    display: inline-block;
    list-style: none;
    margin-right: 10em;
	padding: 1.8em 0 1.8em 42px;
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
.competence-list {
    color: white;
}
.phone_number {
    background-image: url("../assets/cv/mobile.svg");
}
.mail {
    background-image: url("../assets/cv/mail.svg");
}
.adress {
    background-image: url("../assets/cv/location.svg");
}
.birthday {
    background-image: url("../assets/cv/cake.svg");
}

a {
    text-decoration: none;
    color: white;
  }
