@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
:root {
  --pink: #ff4081;
  --background: #232e33;
}
body {
    display: flex;
}
.container {
    position: relative;
    padding: 4vw;
    top: 78px;
    height: 100vh;
    display: grid;
    grid-template-columns: 15vw 15vw 10vw 52vw;
    grid-template-rows: 15vw 20vw 20vw;
    grid-template-areas: "photo qualite name name"
                        "info info slider experience"
                        "competence competence slider experience";
}
.items{
    background-color: #ff4081;
    border-radius: 30px;
    margin: .7vw;
}
.photo {
    grid-area: photo;
    background: url("../figs/linkedin.jpg");
    background-size: cover;
}
.name {
    grid-area: name;
    color: white;
    font-weight: bold;
    font-size: 6em;
    line-height: 15vw;
    text-align: center;
}
.info {
    grid-area: info;
}
.competence {
    grid-area: competence;
}
.slider {
    grid-area: slider;
}
.experience{
    grid-area: experience;
}
p {
    padding: 1em;
    color: white;
}
.phone_number, .mail, .adress, .birthday  {
    list-style: none;
    margin: 0;
	padding: 25px 0 25px 42px;
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}
.competence-list {
    color: white;
}
.phone_number {
    background-image: url("../assets/cv/mobile.svg");
}
.mail {
    background-image: url("../assets/cv/mail.svg");
}
.adress {
    background-image: url("../assets/cv/location.svg");
}
.birthday {
    background-image: url("../assets/cv/cake.svg");
}