@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
:root {
  --pink: #52ae7e;
  --background: #232e33;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "intro" "cards" "content";
  align-items: center;
  justify-content: center;
  /* background: url("../assets/projects/geovis2.png"); */
  
}
.intro {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 30px;
  grid-area: intro;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 5em;
}

.cards {
  grid-area: cards;
  width: 100vw;
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 210px 250px 20px;
  grid-template-areas: "image" "text";
  font-family: 'Poppins', sans-serif;
  border-radius: 18px;
  background: #1d1d1d;
  color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align:left;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin: 30px;
  cursor: pointer;
}

.card-image{
  grid-area: image;
  background: url("../assets/projects/geovis2.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text{
  font-family: 'Roboto', sans-serif;
  grid-area: text;
  margin: 25px;
  transform: translateZ(30px);
}
.card-text .date{
  color: var(--pink);
  font-size: 14px;
  font-weight: bold;
}
.card-text p {
  color: grey;
  font-size: .85em;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 1.2em;
}
/* card 2*/
.card-image.card2 {
  background: url("../assets/projects/ls_map.png");
  background-size: cover;
}
.card-image.card2 .date{
  color: rgb(255, 77, 7);
}
.card-image.card3{
  background: url("../assets/projects/proj_d3.png");
  background-size: cover;
}
.card-image.card4{
  background: url("../assets/projects/ar.jpeg");
  background-size: cover;
}
.rgb::after{
  content:"";
  background: linear-gradient(45deg,
  #353535 0%,
  #ffffff 100% )
  repeat 0% 0% / 300% 100%;
  position: absolute;
  inset: -3px;
  border-radius: 16px;
  filter: blur(8px);
  transform: translateZ(-1px);
  animation: rgb 6s linear infinite;
}
@keyframes rgb {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
.js-tilt-glare{
  border-radius: 18px;
}
.sections {
  grid-area: content;
  background-color: var(--background);
  color: white;
  padding: 0;
  margin: 0;
}
section {
  
  display: grid;
  grid-template-columns: auto auto auto;
  min-height: 400px;
  
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.logo:nth-child(2){
  transition-delay: 300ms;
}
.logo:nth-child(3){
  transition-delay: 600ms;
}
.logo:nth-child(4){
  transition-delay: 9 00ms;
}
.frameDiv{
  grid-column-start: 2;
  height: 150vh;
  overflow: hidden;
}
.titre {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 30px;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  line-height: 5em;
  text-align: center;
  color: var(--pink);
}
a {
  text-decoration: none;
  color: white;
}
.phone {
  position: relative;
  left: 40%;
  width: 436px;
  height: 778px;
}
.laptop{
  position: relative;
  width: 70vw;
  height: 80vh;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #c1c3c4;
	fill: transparent;
	stroke-width: 4px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
