@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
:root {
    --pink: #52ae7e;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #232e33;
  }
  
  #navbar {
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
    font-size: 20px;
  }
  
    #navbar ul {
      list-style: none;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 1em 0;
    }
  
    #navbar li a {
      text-decoration: none;
      color: white;
      padding-right: 3em;
      position: relative;
      transition: all ease-in-out 250ms;
    }
  
    #navbar li a::after {
      content: "";
      position: absolute;
      display: block;
      height: 0.4em;
      width: 0%;
      background-color: var(--pink);
      bottom: -1em;
      transition: all ease-in-out 250ms;
    }
  
    #navbar li a:hover::after {
      width: 70%;
    }
  
    #navbar li a:hover {
      color: var(--pink);
    }
  
    #navbar li:first-child {
      margin-right: auto;
      margin-left: 3em;
    }
  